body{
	margin: 0;
	padding: 0;
}

#contenedor{
	width: 95%;
	margin: 0 auto;
}

 header{
    width: 100%;
    float: left;
    height: 40px;
    background-color:#9999CC;

} 

footer{
    width: 100%;
    float: left;
    height: 40px;
    background-color:#9999CC;
}

ul.footer_horizontal1{
    margin:0;
    padding:0;
    list-style-type:none;
    float:left; 
}

ul.footer_horizontal1 li{
    display:inline;
}

ul.footer_horizontal1 li a{
    margin-left:15px;
    margin-top:10px;
    width:250px;
    height:30px;
    line-height:30px;
    background-color:#000000;
    display:inline-block;
    text-align:center;
    color:white;
    text-decoration:none;
    font-weight:normal;
    font-size:13px;
    font-family: 'Press Start 2P', cursive;
    border-radius:5px;

}

ul.footer_horizontal1 li a:hover{
    background-color:#FF0000 ;

}








.titular{
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-weight:lighter;
    font-size:40px;
    text-align:center;
 }



.titulo{
    font-family: 'Press Start 2P', cursive;
    color: #FFFF00;
    font-size:15px;
    margin-left:10px;
 }

.parrafo{
    font-family: 'Roboto', sans-serif;
    color: #f7f1e3;
    font-size:13px;
    padding:1%;
    margin-left:10px;
    margin-right:10px;
    column-count: 2;
    column-gap: 40px;
    column-rule: 1px solid #f00;
    border-color: #f00;
    border-width: 2px;
    border-style: solid;
}


 



#contenedor .primero{
    padding:1%;
    color:white;
	background:  #336699;
	width: 48%;
	float: left;
	height: 680px;

}
#contenedor .segundo{
	background: #336699;
	width: 40%;
	float: right;
    display:none;

}

#video1{
margin-left:10px;    
margin-top:10px;
display: none;
}

#contenedor .tercero{
	background: #000000;
	width: 40%;
	float: right;
	height: 705px;
}

#contenedor .primerob{
background:  #336699;
    width: 33%;
    float: left;
    height: 660px;

}

#contenedor .segundob {
background:  #336699;
    width: 33%;
    float: left;
    height: 660px;
}

#contenedor .tercerob{
background-color:#000000;
    width: 34%;
    float: left;
    height: 660px;
}





.final{
margin-left:10px;
  }


#scroll1{
    overflow:scroll;
    overflow-x: hidden;
    margin-top:50px;
    height:300px;
    margin-left:10px;
    margin-right:10px;

}

#scrollb{
    overflow:scroll;
    overflow-x: hidden;
    height:400px;
    margin-left:10px;
    margin-right:10px;

}

.fotografía{
    margin-left: 10px;
    margin-top:10px;
     width:180px;
     height:180px;
     border-radius:10px;
}


.fotografía2{
     width:300px;
     height:300px;

}

.imagen{
 height:500px;
 float:left;
}

.PDF {
    height:480px;
    margin-right:10px;
    margin-left:10px;
    width:96%;
}

iframe{
    margin-left:20px;
    width:600px;
    height:250px;
}

.columna{
    padding:1%;
    margin-left:10px;
    margin-right:10px;
    column-count: 2;
    column-gap: 40px;
    column-rule: 1px solid #f00;
    border-color: yellow;
    border-width: 2px;
    border-style: solid;
    height:640px;
}




/*ESCRITORIO*/
 @media (min-width: 992px) and (max-width: 1199px) {
 body{ background: linear-gradient(
        to top,
        orange,
        blue 250px,
        red 
    ); }

 #contenedor{
        width: 95%;
    }
header{
    width: 100%;
    float: left;
    height: 40px;
    background-color:#9999CC;}

footer{
    width: 100%;
    float: left;
    height: 40px;
    background-color:#9999CC;}

p{
    margin-left:10px;
    margin-right:10px;
    column-count: 2;
    column-gap: 40px;
    column-rule: 1px solid #f00;
    border-color: #f00;
    border-width: 2px;
    border-style: solid;
}
   
#scroll1{
    overflow:scroll;
    overflow-x: hidden;
    height:240px;
    margin-left:10px;
    margin-right:10px;

}


.fotografía{
    margin-top:10px;
     width:180px;
     height:180px;
     border-radius:10px;
}


.fotografía2{
     width:300px;
     height:300px;

}

#contenedor .primero{
        color:white;
        padding:1%;
        width: 48%;
        background-color:#336699;
        float:left;
    }


#contenedor .segundo{
        width: 50%;
        background-color:#336699;
        display:none;
        float:right;}


iframe{
 width:500px;
 height:305px;    
}

    }
.imagen{
}

    #contenedor .tercero{
        width: 50%;
        background-color:#000000;
    }
 
#invisible{
   margin-top:10px;
   margin-left:10px;
    visibility: hidden;
}


#contenedor .primerob{
background:  #336699;
    width: 50%;
    height: 660px;

}

#contenedor .segundob {
background:  #336699;
    width: 50%;
    height: 660px;
}

#contenedor .tercerob{
background-color:#000000;
    width: 100%;
    height: 660px;
}


















}
/*Tablet*/
@media (min-width: 768px) and (max-width: 991px){ 
 body{ background: linear-gradient(
        to top,
        orange,
        blue 250px,
        red 
    ); } 	

header{
    width: 100%;
    float: left;
    height: 40px;
    background-color:#9999CC;}


    .nomeves{
 		visibility: hidden;
 	}
    #contenedor{
        width: 95%;
    }

   

    #contenedor .primero{
        width: 50%;
        background-color:#336699;

    }

    #contenedor .segundo{
        width:37%;
        background-color:#336699;
        display:none;


    }
.imagen{
     margin-right:100px;
}

    #contenedor .tercero{
        width: 50%;
        background-color:#000000;
    }

#contenedor .primerob{
background:  #336699;
    width: 100%;
    height: 660px;

}

#contenedor .segundob {
background:  #336699;
    width: 100%;
    height: 660px;
}

#contenedor .tercerob{
background-color:#000000;
    width: 100%;
    height: 660px;
}






footer{
    width: 100%;
    float: left;
    height: 40px;
    background-color:#9999CC;}

#scroll1{
    overflow:scroll;
    overflow-x: hidden;
    height:240px;
    margin-left:10px;
    margin-right:10px;

}


.fotografía{
    margin-top:10px;
     width:180px;
     height:180px;
     border-radius:10px;
}


.fotografía2{
     width:300px;
     height:300px;

}







    
}

/*celular*/
@media (min-width: 576px) and (max-width: 767px) {
  body{ background: linear-gradient(
        to top,
        orange,
        blue 250px,
        red 
    ); }  
header{
    width: 100%;
    float: left;
    height: 40px;
    background-color:#9999CC;}


    .nomeves{
        visibility: hidden;
    }


 	.escondido{
 		display: none;
 	}

    #contenedor{
        width: 100%;
        margin: 0;
    }
    #contenedor .primero{
        width: 100%;
        float: none;
        height: 670px;
        background-color:#336699;
    }
#video1{
    visibility:visible;
margin-left:10px;    
margin-top:10px;}

 

#contenedor .segundo{
        width: 100%;
        float: none;
        height: 670px;
        background-color:black;
        display:none;
 }


#contenedor .tercero{
        width: 100%;
        float: none;
        height: 700px;
        background-color:#000000;
}

#contenedor .primerob{
background:  #336699;
    width: 100%;
    height: 660px;

}

#contenedor .segundob {
background:  #336699;
    width: 100%;
    height: 660px;
}

#contenedor .tercerob{
background-color:#000000;
    width: 100%;
    height: 600px;
}




#escondido{
    display:none;

}


} 

footer{
    width: 100%;
    height: 50px;
    background-color: #9999CC;
    clear: both;
}

 
.iconos {
    margin-top:10px;
    margin-left:15px;
    float:left;
    border-radius:5px;
}

#scroll1{
    overflow:scroll;
    overflow-x: hidden;
    height:240px;
    margin-left:10px;
    margin-right:10px;

}
#scrollb{
    overflow:scroll;
    overflow-x: hidden;
    height:400px;
    margin-left:10px;
    margin-right:10px;

}

.fotografía{
    margin-top:10px;
     width:180px;
     height:180px;
     border-radius:10px;
 }


.fotografía2{
     width:300px;
     height:300px;

}









 
 } 
